*::-webkit-scrollbar{
	display: none;
}

.gomimaro-container{
	max-width: 1920px;
	width: 1920px;
	height: fit-content;
	min-height: 1080px;

	display: block;

	box-sizing: border-box;
	padding: 32px;
}

.gomimaro-container *{
	box-sizing: border-box;
}

.gomimaro-column{
	width: 100%;
	height: fit-content;
}

/* Footer */

.gomimaro-footer{
	height: 64px;
}

.gomimaro-icon{
	width: fit-content;
	height: 64px;

	display: block;
	margin: auto;
}

/* Message */

.gomimaro-msg-base{
	min-height: 904px;
	height: fit-content;
}

.gomimaro-msg-frame{
	width: 100%;
	height: fit-content;
	min-height: 904px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 32px;
	border-radius: 16px;
	background: #FFFFFF;
}

.gomimaro-msg{
	font-family: "Noto Sans Serif", "Open Sans";
	font-size: 64px;
	text-align: center;
}